.nunito-h1 {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 17;
  font-style: normal;
}

.nunito-h2 {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 13;
  font-style: normal;
}

.nunito-h3 {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 12;
  font-style: normal;
}
.nunito-p {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 11;
  font-style: normal;
}
